<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Integrantes</title>
</head>
<body>
<div>
		<table style="width:100%; border-bottom:1px solid black">
			<tr>
				<td><a href="{% url 'index' %}">Menu principal</a></td>
				<td><a href="{% url 'integrantes' %}">Integrantes del curso</a></td>
				<td><a href="{% url 'pestaña' %}">Pestaña libre</a></td>
			</tr>
		</table>
	</div>
<div>
<h1>Equipo docente</h1>
<h2>Auxiliares</h2>
<div>
<ul>
    <li>Carlos Alberto Vega Hernández</li>
    <li>Catalina Martin D.</li>
    <li>Eduardo Valerio C.</li>
    <li>Juan Gutiérrez T.</li>
    <li>Matías Rojas</li>
    <li>Nicolás Villa Contardo</li>
    <li>Sebastián Donoso</li>
    <li>Sofia Herrera</li>
    <li>Victoria Arce A.</li>
</ul>
<h2>Profesor Auxiliar</h2>
<ul>
    <li>Javiera Ovalle T.</li>
    <li>Jorge Pinto</li>
    <li>José Canto</li>
    <li>Macarena V. Osorio A.</li>

</ul>
<h2>Profesor de Cátedra
</h2>
<ul>
    <li> Ángel Jiménez Molina</li>
    <li>Iván Díaz Campos</li>
</ul>
    </div>
</body>
</html>