<!DOCTYPE html>

<html lang="en">

<head>
	    <meta charset="UTF-8">

	<title>Pestaña</title>
</head>
<div>
		<table style="width:100%; border-bottom:1px solid black">
			<tr>
				<td><a href="{% url 'index' %}">Menu principal</a></td>
				<td><a href="{% url 'integrantes' %}">Integrantes del curso</a></td>
				<td><a href="{% url 'pestaña' %}">Pestaña libre</a></td>
			</tr>
		</table>
	</div>
<div>
	<h1> Pestaña libre</h1>
	<div>
		Esta es un pestaña libre para el curso <a href="https://www.u-cursos.cl/ingenieria/2019/2/IN3501/1/historial/">IN3501-1 Tecnologías de Información y Comunicaciones para la Gestión 2019, Primavera</a>
</div>
<div>
</div>
</html>